*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    position: fixed;
    top: -60;
    left: 0;
    transition: all 0.5s ease;
}

nav:hover{
    top: 0px;
}


.right-side ul li:nth-child(1) a{
    color: #b82b84;
}

.right-side ul li:nth-child(1) a:after{
    width: 15px;
    opacity: initial;
    
}

.right-side ul li a:hover{
    color: #b82b84;
}

.right-side ul li a:hover::after{
    width: 100%;
    opacity: initial;
}

.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    background: #f1f1f1;
}

.buyproduct{
    width: 800px;
    position: relative;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.part{
    width: 45%;
    height: 100%;
}

.product-image{
    background: green;
    position: relative;
    height: 85%;
}

.product-details{
    width: 55%;
    color: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
}

.product-details h1{
    font-size: 43px;
    margin-top: 30px;
}

.other-details{
    width: 170px;
    display: flex;
    height: 37px;
    background: #f1f1f1;
}

.seller{
    margin-bottom: 10px;
    font-size: 18px;
    color: #555555;
}

.seller:hover{
    text-decoration: underline;
    cursor: pointer;
}

.price{
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: blue; */
}

.price h3{
    display: flex;
}

.currency{
    text-decoration: line-through;
}

.price .currency{
    margin-right: 3px;
}

.rating{
    width: 28%;
    /* border-left: 1px solid rgb(70, 70, 70); */
    height: 100%;
    background: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rating i{
    font-size: 12px;
}

.quantity{
    width: 110px;
    display: flex;
    margin-top: 10px;
    height: 34px;
    /* background: #f1f1f1; */
}

.quantity button{
    width: 30%;
    border: 1px solid black;
    height: 100%;
    cursor: pointer;
    font-size: 25px;
    background: #f1f1f1;
}

.quantity .no{
    width: 40%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image{
    width: 100%;
    height: 100%;
}

.main-image img{
    width: 100%;
    height: 100%;
}

.image-roll{
    width: 65%;
    height: 55px;
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    /* background: gray; */
}

.image{
    flex: 1;
    margin: 0px 5px;
    height: 100%;
    border: 3px solid #fff;
    background: #f1f1f1;
}

.reviews{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: #f1f1f1;
    position: relative;
}

.reviews .review-overflow{
    width: 93%;
    height: 75%;
    /* background: #00d300; */
}

.reviews button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: #fff;
}

.reviews button i{
    margin-right: 2px;
    color: #b82b84;
}

.buyproduct .buttons{
    display: flex;
    margin-top: 20px;
}



.buyproduct .buttons .button{
    /* display: flex;
    flex-direction: column; */
    width: 110px;
    height: 33px;
    margin: 0px 5px;
}

.buyproduct .buttons button{
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
}

.button:nth-child(1){
    /* background: #00d300; */
    position: relative;
    width: 110px;
    /* display: flex;
    flex-direction: column; */
    height: auto;
}

.button:nth-child(1) .drop{
    position: absolute;
    color: #fff;
    right: 0px;
    background: #00d300;
    top: 0px;
    width: 25%;
    height: 33px;
    cursor: pointer;
    border-left: 1px solid #5d5d5d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:nth-child(1) .drop:hover{
background: #008000;
}

.drop i{
    transform: rotate(90deg)
    scaleY(1.7);
}


.button:nth-child(1) button{
    width: 75%;
    background: #00d300;
}

.button:nth-child(1) .orderBtn{
    display: none;
    width: 100%;
}

.button:nth-child(1) .orderBtn.visible{
    display: flex;
}

.drop i.visible{
    transform: rotate(270deg)
    scaleY(1.7);;
}


.buyproduct .buttons .currency{
    margin-left: 3px;
}


.buyBtn.active{
    animation: bounce .8s infinite;
}

.buyproduct .buttons .button:nth-child(2){
    background: #b82b84;
    color: #fff;
}

.write-review-bg{
    position: absolute;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgb(0, 0, 0, .7);
}

.write-review-bg.active{
    display: flex;
}

.write-review{
    width: 450px;
    border-radius: 6px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #fbfbfb;
}

.closeBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.rate{
    width: 90%;
    display: flex;
    margin-top: 15px;
    height: 40px;
    justify-content: center;
    /* background: #b82b84; */
}

.star{
    width: 10%;
    border: px solid #3c3c3c;
    background: #bdbdbd;
    height: 90%;
    cursor: pointer;
    margin: 0px 5px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star.bad-rating{
    background: #b82b84;
}

.star.mid-rating{
    background: yellow;
}

.star.good-rating{
    background: #00d300;
}

.write{
    width: 90%;
    /* padding: 0px 0px 0px 10px; */
    margin-top: 10px ;
}

.write-review button{
    display: flex;
    width: 110px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 33px;
    border: none;
    background: #b82b84;
    color: #fff;
    cursor: pointer;
}

.seller-card{
    position: absolute;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    scale(0.7);
    opacity: 0;
    transition: all 0.5s ease;
    width: 350px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.15);
    height: 450px;
    color: #3c3c3c;
    background: #fff;
}

.seller-card.active{
    transform: translate(-50%, -50%)
    scale(1);
    opacity: initial;
    pointer-events: all;
}

.seller-card .fa-user{
    font-size: 180px;
}

.seller-card h1{
    font-size: 40px;
}

.seller-rating{
    font-size: 20px
}

.contacts{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.contact{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: #ebebeb;
}

.contact .logo{
    background: #bdbdbd;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact .logo i{
    font-size: 20px;
}


.contact .text{
    width: 85%;
    height: 100%;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 21px;
    color: red;
}



.sidebar{
    position: fixed;
    width: 350px;
    height: 100vh;
    top: 0px;
    z-index: 1;
    right: 0px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.15);
    margin-right: -350px;
    transition: all 0.7s ease;
}

.sidebar.show{
    margin-right: 0;
}

.sidebar .sideClose{
    position: absolute;
    top: 10px;
    font-size: 23px;
    left: 10px;
    color: #ff7070;
}

.side-sec{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    color: #3c3c3c;
}

.general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.general .fa-user{
    font-size: 180px;
    margin-bottom: 10px;
}

.contact{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    background: #ebebeb;
}

.general h1{
    font-size: 40px;
}

.general h1 span{
    margin: 0px 5px;
}

.general p{
    font-size: 20px;
    color: #b82b84;
}

.sidebar .buttons{
   margin-top: 20px;
   display: flex;
}

.sidebar .buttons button{
    padding: 7px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
    border: 2px solid #b82b84;
    border-radius: 7px;
    background: transparent;
    color: var(--mn-text);
    transition: all 0.8s ease;
    display: flex;
}

.sidebar .buttons button i{
    margin-left: 10px;
}

.sidebar .buttons button a{
    text-decoration: none;
    color: #3c3c3c;
}

.acc-options{
    position: absolute;
    top: 10px;
    right: 20px;
}

.acc-options a{
    font-size: 23px;
    margin: 0px 7px;
    color: #b82b84;
}

.dashboardBtn{
    position: absolute;
    bottom: 20px;
    padding: 6px;
    font-size: 15px;
    background: none;
    cursor: pointer;
    outline: none;
    border: 2px solid #b82b84;
}

.notifications, .cart, .history{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifications h1, .cart h1, .history h1{
    font-size: 40px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 13%;
}

.notification-area, .cart-area, .history-area{
    position: relative;
    top: 15%;
    width: 97%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    background: #ebebeb;
}

.side-sec{
    display: none;
}

.general.show{
    display: flex;
}

.notifications.show{
    display: flex;
}

.cart.show{
    display: flex;
}

.history.show{
    display: flex;
}


.flotingcartBtn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    /* background: #b82b84; */
    width: 65px;
    height: 65px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.15);
    color: #b82b84;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff;
    border-radius: 7px;
    font-size: 30px;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}