{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'auth.css' %}">
    <link rel="stylesheet" href="{% static 'addproduct.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/CSS/ALL.CSS' %}">
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="container">
            <div class="buyproduct">

                <div class="part product-image">
                    <div class="main-image">
                        <img src="{% static 'images/1160358.png' %}" class="dummy" alt="">
                        <label class="image-label" for="image1"><input type="file" name="image1" class="image1" id="image1"><i class="fas fa-plus"></i>Add Image</label>
                        <img src="" class="main-img img1" alt="">
                        <div class="image-roll" style="width: 100%;">
                            <div class="image img2">
                                <label class="image-labels image-label2" for="image2"><input type="file" name="image2" class="image2" id="image2"><i class="fas fa-plus"></i></label>
                                <img src="" alt="">
                            </div>
                            <div class="image img3">
                                <label class="image-labels image-label3" for="image3"><input type="file" name="image3" class="image3" id="image3"><i class="fas fa-plus"></i></label>
                                <img src="" alt="">
                            </div>
                            <div class="image img4">
                                <label class="image-labels image-label3" for="image3"><input type="file" name="image4" class="image3" id="image3"><i class="fas fa-plus"></i></label>
                                <img src="" alt="">
                            </div>
                            <div class="image img5">
                                <label class="image-labels image-label3" for="image3"><input type="file" name="image5" class="image3" id="image3"><i class="fas fa-plus"></i></label>
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="part product-details">
                    <div class="form-area">
                        <h1>Add Product</h1>
                        <div>
                            <style>
                                h6 {
                                    font-size: smaller;
                                    color: red;
                                }
                            </style>
                            {% for message in messages %}
                            <h6>{{ message }}</h6>
                            {% endfor %}
                        </div>
                        <input type="text" class="product-name" name="productname" placeholder="Product Name" required>
                        <span class="price">Product Price
                            <input type="text" name="price" value="00.00" required>
                        </span>
                        <span class="price">Delivery Fee
                            <input type="text" name="deliveryfee" value="00.00">
                        </span>
                        <span class="seller-check" style="padding-top: 10px;">
                            <input type="checkbox" id="dodelivery" name="dodelivery" value="1">I don't do delivery.
                        </span>
                        <span class="quantity">Number in Stock
                            <input type="number" min="1" value="1" name="quantity" required>
                        </span>
                        <select name="category" id="">
                            <option value="miscallenous">Uncatergorized</option>
                            <option value="food">Food</option>
                            <option value="fashion">Beauty & Fashion</option>
                            <option value="school">School Essentials</option>
                            <option value="cosmetics">Cosmetics</option>
                            <option value="gadgets">Gadgets</option>
                        </select>
                        <button type="submit" class="addBtn">Add</button>

                    </div>
                </div>
            </div>

        </div>
    </form>
    <script src="{% static 'addproduct.js' %}"></script>
</body>

</html>