{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebron Store</title>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/CSS/ALL.CSS' %}">
    <script src="{% static 'home.js' %}" defer></script>
</head>

<body>
    <div class="container">
        <nav>
            <div class="left-side">
                <a href="/" class="logo"><img src="{% static 'images/logob.png' %}" alt=""></a>
            </div>
            <div class="right-side">
                <ul>
                    <li class="home"><a href="">Home</a></li>
                    <li><a href="{% url 'categories' %}">Catergories</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
                <div class="icons">
                    <a href="#" class="notifBtn" title="My Notifications"> <i class="fas fa-bell"></i></a>
                    <a href="#" class="userBtn" title="Me"> <i class="fas fa-user"></i></a>
                </div>
            </div>
        </nav>
        <div class="top-picks">

        </div>
        <div class="all-products">
            <div class="search">
                <input type="text" placeholder="Search..." class="seachbar">
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </div>
            <div class="cards">
                {% for item in all_products %}
                <div class="card" style="width: 65%;">
                    <div class="image">
                        <img src="{{ item.picture1.url }}" alt="">
                    </div>
                    <a href="#">
                        <h3><a href="{% url 'product' item.pk %}">{{ item.name }}</a></h3>
                    </a>
                    <p><span class="currency">N</span>{{ item.price }}</p>
                    <div class="rating" style="color: #b82b84;">
                        {% if item.arating >= 1 and item.arating <= 1.3 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %}
                       {% if item.arating >= 1.3 and item.arating <= 1.6 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half-o" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %} 
                       {% if item.arating >= 1.6 and item.arating <= 2.3 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %} 
                       {% if item.arating >= 2.3 and item.arating <= 2.6 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half-o" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %} 
                       {% if item.arating >= 2.6 and item.arating <= 3.3 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-o" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %}
                       {% if item.arating >= 3.3 and item.arating <= 3.6 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half-o" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %}
                       {% if item.arating >= 3.6 and item.arating <= 4.3 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-o" ></i>
                       {% endif %} 
                       {% if item.arating >= 4.3 and item.arating <= 4.6 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half-o" ></i>
                       {% endif %} 
                       {% if item.arating >= 4.6 and item.arating <= 5 %}
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                       {% endif %} 
                    </div>
                    <button class="addCart"><i class="fas fa-plus"></i>Add To Cart</button>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <button class="flotingcartBtn" title="Cart">
            <i class="fas fa-shopping-bag"></i>
        </button>
    </div>
    <div class="sidebar">
        {% if request.user.username != '' %}
        <div class="side-sec general">
            <i class="fas fa-user"></i>
            <h1><span style="font-size: 25px;">{{ request.user.username }}</span></h1>
            <p>{{ request.user.email}}</p>
            <div class="buttons">
                <button class="logoutbtn1"><i class="fas fa-sign-out-alt"></i><a href="/logout">Logout</a></button>
                <button class="deletebtn1"><i class="fas fa-cog"></i><a href="/settings">Account Settings</a></button>
            </div>
            <button class="dashboardBtn"><a href="{% url 'dashboard' %}" style="text-decoration: none; color: #3c3c3c;">Seller Dashboard <i class="fas fa-external-link-alt"></i></a></button>
        </div>
        {% else %}
        <div class="side-sec general">
            You are not signed in
            <div class="buttons">
                <button class="logoutbtn1"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i><a href="{% url 'auth' %}">Sign In</a></button>
            </div>
        </div>
        {% endif %}
        <!--  -->
        {% if request.user.username != '' %}
        <div class="side-sec notifications">
            <h1>Notifications</h1>
            <div class="notification-area">
                <p>No notifications</p>
            </div>
        </div>
        {% else %}
        <div class="side-sec notifications">
            <h1>Notifications</h1>
            <div class="notification-area">
                You are not signed in
                <div class="buttons">
                    <button class="logoutbtn1"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i><a href="{% url 'auth' %}">Sign In</a></button>
                </div>
            </div>
        </div>
        {% endif %}
        <!--  -->
        {% if request.user.username != '' %}
        <div class="side-sec cart">
            <h1>Cart</h1>
            <div class="cart-area">
                <p>No Items</p>
            </div>
        </div>
        {% else %}
        <div class="side-sec cart">
            <h1>Cart</h1>
            <div class="cart-area">
                You are not signed in
                <div class="buttons">
                    <button class="logoutbtn1"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i><a href="{% url 'auth' %}">Sign In</a></button>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="side-sec cart">
            <h1>Cart</h1>
            <div class="cart-area">
                <p>No Items</p>
            </div>
        </div>
        <div class="side-sec history">
            <h1>Shopping History</h1>
            <div class="history-area">
                <p>No Items</p>
            </div>
        </div>
        <a href="#" class="sideClose"><i class="fas fa-times"></i></a>
        <div class="acc-options">
            <a href="#" class="sideCart" title="Cart"><i class="fas fa-shopping-bag"></i></a>
            <a href="#" class="sideHistory" title="shopping History"><i class="fas fa-clock"></i></a>
            <a href="#" class="sideNotif" title="My Notifications"><i class="fas fa-bell"></i></a>
        </div>
    </div>
</body>

</html>