{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Add Your Socials</title>
    <link rel="stylesheet" href="{% static 'bankform.css' %}">
    <link rel="stylesheet" href="{% static 'socials.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/CSS/ALL.CSS' %}">
</head>

<body>
    <div class="container">
        <div class="form-box">
            <div class="error">
                <p>Invalid Instagram Link!</p>
            </div>
            <h1>Add Your Socials</h1>
            <form action="." method="POST"> {% csrf_token %}
                <div class="form">
                    <label for=""><i class="fab fa-instagram"></i><input type="text" class="socialInput instaInput" name="instagram"></label>
                    <label for=""><i class="fab fa-whatsapp"></i><input type="text" class="socialInput whatsappInput" name="whatsapp"></label>
                    <label for=""><i class="fab fa-telegram"></i><input type="text" class="socialInput telegramInput" name="telegram"></label>
                    <button class="addSocials disable" type="submit">Add</button>
                    <button class="skipBtn" type="button"><a style="text-decoration: none; color: black;" href="{% url 'home' %}">Skip>></a></button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const insta = document.querySelector('.instaInput')
        const inputs = document.querySelectorAll('.socialInput')
        document.addEventListener('DOMContentLoaded', () => {
            // console.log(inputs)
            inputs.forEach(input => {
                input.addEventListener('blur', () => {
                    // let inputVal = input.value
                    let val = insta.value
                    if (inputs[1].value == '' && inputs[2].value == '' && !val.startsWith('https://www.instagram.com/')) {
                        document.querySelector('.addSocials').classList.add('disable')
                        console.log('true')
                        document.querySelector('.error').classList.add('active')
                        document.querySelector('.addSocials').classList.add('disable')
                        setTimeout(function() {
                                document.querySelector('.error').classList.remove('active')
                            }, 1400)
                            // console.log('false')
                    } else {
                        // console.log('false')
                        if (!val.startsWith('https://www.instagram.com/') && val != '' && val != null) {
                            document.querySelector('.addSocials').classList.add('disable')
                            document.querySelector('.error').classList.add('active')
                            document.querySelector('.addSocials').classList.add('disable')
                            setTimeout(function() {
                                document.querySelector('.error').classList.remove('active')
                            }, 1400)
                        } else {
                            document.querySelector('.addSocials').classList.remove('disable')
                        }
                    }
                })
            });
        })
    </script>
</body>

</html>